@charset "UTF-8";
/* CSS Document */

#content {
	position:relative;
	width:900px;
	height:500px;
	background:url(../assets/contact.jpg) top left;
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#left_column {
	width:216px;
	height:auto;
	float:left;
	overflow:visible;
	margin:0 0 0 35px;
}
#contact_form {
	width:216px;
	height:282px;
	float:left;
	margin:35px 0 0 0;
}
#contact_info {
	display:inline;
	width:216px;
	height:auto;
	float:left;
	margin:35px 0 0 0;
	color:#006838;
}
#contact_info a {
	color:#006838;
}