@charset "UTF-8";
/* CSS Document */

body {
	background:#FFFFFF url(../assets/bg_1px.jpg) repeat-x top left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:85%;
	margin:0;
	padding:0;
}
body p {
	font-family:Arial Narrow, Arial, Helvetica, sans-serif;
	font-size:85%;
}
#wrapper {
	width:900px;
	height:1000px;
	overflow:visible;
	background:#FFFFFF url(../assets/wrapper_bg.jpg) no-repeat top left;
	margin:0 auto;
	padding:0 0 0 0;
}
#top_fold {
	width:900px;
	height:157px;
	overflow:visible;
}
#middle_fold {
	width:900px;
	height:500px;
}
#bottom_fold {
	width:880px;
	height:auto;
	padding:10px 10px 0 10px;
}
#logo {
	display:inline;
	float:left;
	width:110px;
	height:156px;
	margin:0 0 0 20px;
}
#nav {
	display:inline;
	float:right;
	width:700px;
	height:35px;
	margin:55px 10px 0 0;
}
#content img {
	border:0;
	margin:0;
	padding:0;
}
.info {
	position:absolute;
	top:-999em;
	left:-999em;
}
.ip {
	color:#FFFFFF;
	text-align:right;
	font-size:110%;
}
a:link {
	text-decoration:none;
	border-bottom:1px dotted #000000;
	color:#000000;
}
a:visited {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
	border-bottom:none;
	color:#999;
}
a:active {
	text-decoration:none;
}