@charset "UTF-8";
/* CSS Document */

#content {
	position:relative;
	width:900px;
	height:500px;
	background:url(../assets/index5.jpg) top left;
	margin:0 0 0 0;
}
#youtube {
	width:640px;
	height:390px;
	position:relative;
	display:inline;
	float:right;
	margin:10px 20px 0 0;
}