@charset "UTF-8";
/* CSS Document */

#content {
	position:relative;
	width:900px;
	height:500px;
	background:url(../assets/contact.jpg) top left;
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#left_column {
	width:300px;
	height:auto;
	float:left;
	overflow:visible;
	margin:0 0 0 35px;
}
.review {
	color:#006838;
	font-size:100%;
	line-height:130%;
}