@charset "UTF-8";
/* CSS Document */

#content {
	position:relative;
	width:900px;
	background:#FFFFFF;
	margin:0 0 0 0;
	padding:20px 0;
}

.shopping .clear {clear:both; height:0; overflow:hidden; margin:-1px 0 0 0;}

.shopping {
	margin:0;
	padding:0;
}

.shopping * {
	margin:0;
	padding:0;
}

.shopping img {
	float:left;
}

.shopping li {
	list-style:none;
	display:block;
	margin: 0 20px 20px 20px;
}

.description {
	float:left;
	margin-left: 20px;
}

.description p {
	font-size: 16px;
	margin-bottom: 0.5em;
}