@charset "UTF-8";
/* CSS Document */

#content {
	position:relative;
	width:900px;
	height:500px;
	background:url(../assets/wheretobuy.jpg) top left;
	margin:0 0 0 0;
}
#supplier_list {
	display:inline;
	float:right;
	width:185px;
	height:331px;
	margin:20px 20px 0 0;
	padding:0 20px 0 20px;
	background:url(../assets/supplier_list.jpg) repeat-y;
	color:#006838;
	font-size:120%;
}
#supplier_list h2 {
	font-size:125%;
	margin-bottom:0;
}
.states {
	display:block;
}
.supplier {
	font-weight:bold;
}