@charset "UTF-8";
/* CSS Document */

#content {
	position:relative;
	width:900px;
	height:500px;
	background:url(../assets/carbin_yourbin.jpg) top left;
	margin:0 0 0 0;
}
#copy {
	display:inline;
	float:right;
	width:200px;
	height:331px;
	margin:20px 20px 0 0;
	padding:0 20px 0 20px;
	background:url(../assets/supplier_list.jpg) repeat;
	color:#006838;
	font-size:130%;
}
.subscript {
	font-size:70%;
}